<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>Filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>GuestFilter</filter-name>
        <filter-class>Filter.GuestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/admin/home</url-pattern>
        <url-pattern>/admin/homeAdmin.jsp</url-pattern>
        <url-pattern>/admin/dishmanager</url-pattern>
        <url-pattern>/admin/dishManager.jsp</url-pattern>
        <url-pattern>/admin/addorupdatedish</url-pattern>
        <url-pattern>/admin/addOrUpdateDish.jsp</url-pattern>
        <url-pattern>/admin/employeemanager</url-pattern>
        <url-pattern>/admin/employeeManager.jsp</url-pattern>
        <url-pattern>/admin/addorupdateemployee</url-pattern>
        <url-pattern>/admin/addOrUpdateEmployee.jsp</url-pattern>
        <url-pattern>/admin/invoicemanager</url-pattern>
        <url-pattern>/admin/invoiceManager.jsp</url-pattern>
        <url-pattern>/admin/viewInvoiceDetails.jsp</url-pattern>
        <url-pattern>/admin/logout</url-pattern>
        <url-pattern>/employee/home</url-pattern>
        <url-pattern>/employee/homeEmployee.jsp</url-pattern>
        <url-pattern>/employee/dineinordersmanager</url-pattern>
        <url-pattern>/employee/dineInOrdersManager.jsp</url-pattern>
        <url-pattern>/employee/invoicemanager</url-pattern>
        <url-pattern>/employee/invoiceManager.jsp</url-pattern>
        <url-pattern>/employee/viewInvoiceDetails.jsp</url-pattern>
        <url-pattern>/employee/tablemanager</url-pattern>
        <url-pattern>/employee/tableManager.jsp</url-pattern>
        <url-pattern>/employee/arrangeTable.jsp</url-pattern>
        <url-pattern>/employee/logout</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GuestFilter</filter-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/home.jsp</url-pattern>
        <url-pattern>/menu</url-pattern>
        <url-pattern>/menu.jsp</url-pattern>
        <url-pattern>/footer.jsp</url-pattern>
        <url-pattern>/cart</url-pattern>
        <url-pattern>/checkout</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
